body {
  background-color: lightgray;
}

.cat-info {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  padding-top: 20px;
}

.image-box {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 720px) {
  .image-box {
    width: 40vw;
    padding-top: 35px;
  }
}

.cat-img {
  width: 100%;
  object-fit: cover;
  border-radius: 5%;
}

@media screen and (min-width: 720px) {
  .cat-box {
    display: inline-block;
    width: 40%;
  }
}

.cat-name {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}

@media screen and (min-width: 720px) {
  .cat-name {
    text-align: start;
  }
}
@media screen and (min-width: 950px) {
  .cat-name {
    font-size: 36px;
  }
}

.temperament {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

@media screen and (min-width: 720px) {
  .temperament {
    text-align: start;
  }
}

@media screen and (min-width: 950px) {
  .temperament {
    font-size: 20px;
  }
}
.description {
  text-align: center;
  font-size: 16px;
  transition: 20s ease-in-out;
}

@media screen and (min-width: 720px) {
  .description {
    text-align: start;
  }
}

@media screen and (min-width: 950px) {
  .description {
    font-size: 18px;
  }
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -24px 0 #ff3d00, 24px 0 #fff;
  }
  66% {
    background: #ff3d00;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 #ff3d00;
  }
}

.is-hidden {
  display: none;
  visibility: hidden;
}
